
<%= params %>
<h1> Currency pairs </h1>


<ul>
  <% @symbols.each do |currency_initials| %>
    <li><a href="/<%= currency_initials %>">Convert 1<%= currency_initials %> to... </a>
    </li>
  <% end %>

  
</ul>
